.header{
  padding: 24px;
  background-color: #001e41;
}
.header img {
  position: absolute;
  top: 0px;
}
.login{
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding: 0 32px;
}
.butto {
  position: absolute;
  top: 0px;
  background-color: #001e41;
  color: white;
  padding: 24px;
  left: 19%;
  text-align: center;
  border-radius:4px
}
.butto-sm {
  position: absolute;
  top: 0px;
  background-color: #001e41;
  color: white;
  padding: 24px;
  left: 11%;
  text-align: center;
  border-radius:4px
}
.b-position{
  position: relative;
  bottom: 4rem;
  z-index: 3;
}
.font24{
  font-size:24px;
  text-align: center;
}
.paddingleft{
  padding-left: 19%;
  padding-right: 1%;
}
.now{
  background-color: transparent;
  color: #001e41;
  border: 2px solid #001e41;
  border-radius: 24px;
  padding: 0 32px;
  min-width: 70%;
}
.Know{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 0 32px;
  min-width: 70%;
}
h1{
  font-size: 34px;
}
.div-position{
  position: absolute;
  background-color: #00000091;
  right: 0;
  height: 100%;
}
.paddingleft1{
  padding-left: 8%;
  padding-right: 8%;
}
.div-position1{
  width: 100%;
  position: absolute;
  height: 100%;
}
.position-relative{
  position: relative;
}
