<div fxLayout="column" fxflex="100">
  <div fxLayout="row" fxflex="100px" [ngClass]="['header']" fxLayoutAlign="space-between center">
    <div fxFlex="100px">
      <img fxFlex="7" src="assets/images/logo.png"/>
    </div>
    <div fxLayout="column">
      <div fxLayout="row"  fxLayoutGap="48px">
        <div fxLayout="column" *ngFor="let hd of header" [ngClass]="['title-white']">
          {{hd.name}}
        </div>
      </div>
    </div>
    <button mat-raised-button [ngClass]="['login']">Login</button>
  </div>
  <div fxLayout="column">
    <img fxFlex="100" src="assets/images/banner-img.jpg"/>
  </div>
  <div [ngClass]="['b-position']"><div fxLayout="column" fxFlex="20" [ngClass.gt-lg]="['butto']" [ngClass]="['butto-sm']"><span [ngClass]="['font24']">Brewery & Fine Dining Restaurant</span></div></div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="40" fxLayoutGap="16px"  fxLayoutAlign="center start" [ngClass.gt-lg]="['paddingleft']">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <div fxLayout="column" fxFlex="60" fxFlex.md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="90" fxLayoutGap="16px" fxLayoutAlign="center start">
          <h1 [ngClass]="['title-blue']">Order Online</h1>
          <span [ngClass]="['title-blue font-20']">Order Food online from our restaurant in Bangalore.</span>
          <span [ngClass]="['title-blue font-20']">Big Brewsky offers you</span>
          <ul  [ngClass]="['title-blue font-20']">
            <li >Wild range of food cuisines to taste</li>
            <li>Home delivery</li>
            <li>Online payment</li>
          </ul>
          <div [ngClass]="['width100']" fxLayoutAlign="start center"> <button mat-raised-button [ngClass]="['now']">ORDER NOW</button></div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="60" fxFlex.md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="90">
      <img fxFlex="100" src="assets/images/2.png"/>
    </div>
  </div>
  <div fxLayout="row" [ngClass]="['position-relative']">
    <div fxLayout="column" fxFlex="100">
      <img fxFlex="100" src="assets/images/3.jpg"/>
    </div>
    <div fxLayout="column" fxFlex="38" fxLayoutAlign="start start" [ngClass.gt-lg]="['paddingleft1']" [ngClass]="['div-position']">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <div fxLayout="column" fxFlex="60" fxFlex.md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="90" fxLayoutGap="16px" fxLayoutAlign="center start">
          <h1 [ngClass]="['title-white']">Reservation</h1>
          <span [ngClass]="['title-white font-20']">Big Brewsky also has a powerful option that puts you in control of your table management and reservations earlier with our online reservation systems.</span>
          <div [ngClass]="['width100']" fxLayoutAlign="start center"> <button mat-raised-button [ngClass]="['Know']">BOOK A TABLE</button></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="40" fxLayoutGap="16px"  fxLayoutAlign="center start" [ngClass.gt-lg]="['paddingleft']">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <div fxLayout="column" fxFlex="60" fxFlex.md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="90" fxLayoutGap="16px" fxLayoutAlign="center start">
            <h1 [ngClass]="['title-blue']">Part Package</h1>
            <span [ngClass]="['title-blue font-20']">Big Brewsky is an ideal venue for Hosting a fabulous party.We are happy to accommodate all your entertainment needs.
            Alternative & experimental musicians are playing & plan your evening accordingly. </span>
            <div [ngClass]="['width100']" fxLayoutAlign="start center"> <button mat-raised-button [ngClass]="['now']">BOOK A PACKAGE</button></div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="60" fxFlex.md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="90">
      <img fxFlex="100" src="assets/images/4.png"/>
    </div>
  </div>
  <div fxLayout="row" [ngClass]="['position-relative']">
    <div fxLayout="column" fxFlex="100">
      <img fxFlex="100" src="assets/images/5.jpg"/>
    </div>
    <div fxLayout="column" fxFlex="38" fxLayoutGap="16px"  fxLayoutAlign="center start" [ngClass.gt-lg]="['paddingleft1']" [ngClass]="['div-position']">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <div fxLayout="column" fxFlex="60" fxFlex.md="70" fxFlex.gt-sm="80" fxFlex.gt-xs="90" fxLayoutGap="16px" fxLayoutAlign="center start">
          <h1 [ngClass]="['title-white']">Our Beers</h1>
          <span [ngClass]="['title-white font-20']">Phenomenal beers brewed by ourselves,is what Big Brewsky built it's name on.</span>
          <span [ngClass]="['title-white font-20']">To accompany them, we have a range of exquisite food from indian to Sushi. Our open air setup, let's you enjoy all the good things in life-the weather,great music and our very own hand crafted beers. </span>
          <div [ngClass]="['width100']" fxLayoutAlign="start center"> <button mat-raised-button [ngClass]="['Know']">KNOW MORE</button></div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" [ngClass]="['position-relative']">
    <div fxLayout="column" fxFlex="100" >
      <img fxFlex="100" src="assets/images/footer-bg.png"/>
    </div>
    <div fxLayout="column" fxFlex="100" fxLayoutGap="24px"  fxLayoutAlign="center center" [ngClass]="[' div-position1']">
      <h1 [ngClass]="['title-white']">Connect Socially with Brewski</h1>
      <div fxLayout="row" fxLayoutGap="80px">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px"><img src="assets/images/fb-icon.png"><span [ngClass]="['title-white']">Facebook</span></div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px"><img src="assets/images/insta-icon.png"><span [ngClass]="['title-white']">Instagram</span></div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px"><img src="assets/images/twitter-icon.png"><span [ngClass]="['title-white']">Twitter</span></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" [ngClass]="['width100']" fxLayoutGap="32px">
        <ul fxLayout="row" fxLayoutGap="48px" [ngStyle]="{'display':'flex'}">
          <li [ngClass]="['title-white font24']" [ngStyle]="{'display':'block'}">About Us</li>
          <li [ngClass]="['title-white font24']">Reservations</li>
          <li [ngClass]="['title-white font24']">Contact Us</li>
          <li [ngClass]="['title-white font24']">Order Online</li>
          <li [ngClass]="['title-white font24']">Packages</li>
          <li [ngClass]="['title-white font24']">Events</li>
        </ul>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" [ngClass]="['width100']" fxLayoutGap="40px">
        <span [ngClass]="['title-white font-20']">Terms and Conditions</span><span [ngClass]="['title-white font-20']">Privacy Policy</span><span [ngClass]="['title-white font-20']">Careers</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="['width100 pad']" fxLayoutGap="40px">
        <div><span [ngClass]="['title-white']">© 2017 Byg Brewski, All Rights Reserved.</span></div>
        <div><span [ngClass]="['title-white']">Terms of service .</span><span [ngClass]="['title-white']">Privacy Policy .</span><span [ngClass]="['title-white']">Site Map .</span></div>
      </div>
    </div>
  </div>

</div>

