/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  font-family: Segoe UI;
}
.title-white {
  color: #ffffff;
}
.title-blue {
  color: #001e41;
}
.font-20{
  font-size: 20px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}
.mat-raised-button {
  padding: 0 32px;
}
.width100{
  width: 100%;
}
.font24{
  font-size: 24px;
}
.pad{
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
